#savedMoviesPanel {
    width: 300px;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#savedMoviesList .saved-movie {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    cursor: pointer;
}

#savedMoviesList .saved-movie:hover {
    background-color: #f1f1f1;
}

/* Personalização do botão lateral */
#toggleSavedMoviesBtn {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 0;
    transition: background-color 0.3s;
}

#toggleSavedMoviesBtn:hover {
    background-color: #e0a800; /* Cor de fundo ao passar o mouse */
    border-color: #d39e00; /* Borda ao passar o mouse */
}

/* CSS para padronizar a altura das imagens dos cards */
.card-img-top {
    
    height: 300px; /* Defina a altura que preferir */
    object-fit: cover; /* Isso evita distorções */
}
.card-body {
    flex-grow: 1; /* Faz o corpo do card ocupar o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o espaço entre o conteúdo */
}
.card-title {
    overflow: hidden; /* Esconde o texto que ultrapassa */
    text-overflow: ellipsis; /* Adiciona '...' no final */
    white-space: nowrap; /* Impede que o texto quebre a linha */
}

.watched-opacity {
    opacity: 0.5 !important;
    transition: opacity 0.3s ease !important;
}