#savedMoviesPanel {
    width: 300px;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#savedMoviesList .saved-movie {
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    cursor: pointer;
}

#savedMoviesList .saved-movie:hover {
    background-color: #f1f1f1;
}

/* Personalização do botão lateral */
#toggleSavedMoviesBtn {
    width: 40px;
    height: 40px;
    background-color: #0d6efd;
    color: white;
    border-radius: 0;
    transition: background-color 0.3s;
}

#toggleSavedMoviesBtn:hover {
    background-color: #0b5ed7;
}

.card {
    width: 200px; /* Definindo uma largura fixa para o card */
}

.card-img-top {
    max-width: 100%; /* A imagem ocupa 100% da largura do card */
    height: 250px; /* Altura fixa para a imagem */
    object-fit: contain; /* Assegura que a imagem não seja cortada */
}

/* Você pode adicionar mais estilos personalizados aqui */
